*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: darkgray;

}
header{
    background-color: rgb(3, 63, 90);
    text-align: center;
    margin-top: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
nav{
    background-color: darkcyan;
    text-align: center;
    margin: auto;
    gap: 25px;
padding: 10px;
color: white;
}
nav a{
    display: inline-block;
  margin-right: 25px;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
}
nav a:hover{
    cursor: pointer;
    color: rgb(251, 255, 0);
    text-decoration: none;
    gap: 20px;
}
.kiki{
    margin: center;
    text-align: center;
    justify-content: center;
}
.ququ{
    background-color: white;
    width: 80%;
    color: rgb(151, 44, 44);
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    padding: 10px;
    border-radius: 6px;
}
footer{
    text-align: center;
    background-color: rgb(5, 5, 99);
    padding: 10px;
    color: white;
    margin-top: 320px;
}
img{
    width: 100%;
    max-width: 500px;
    margin: 0 auto 20px;
    display: block;
    border-radius: 10px;
    padding-top: 20px;
}
.loop{
    display: flex;
    flex-direction: row;
}
.liip{
    flex: 1;
    flex-direction: row;
    border-radius: 8px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    padding: 15px;
    margin: 10px;
    width: 50px;
    text-align: center;
    justify-content: center;

}